body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../修改说明_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:58px;
    top:30px;
    width:1974px;
    height:32px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1980px;
    height:38px;
}

.u1 {
    position:absolute;
    left:2px;
    top:8px;
    width:1970px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:87px;
    top:35px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u3 {
    position:absolute;
    left:82px;
    top:100px;
    width:762px;
    height:783px
}

.u4_normal {
    background-image: url('../修改说明_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u5 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../修改说明_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:100px;
    top:0px;
    width:261px;
    height:20px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:267px;
    height:26px;
}

.u7 {
    position:absolute;
    left:2px;
    top:2px;
    width:257px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../修改说明_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:361px;
    top:0px;
    width:166px;
    height:20px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:172px;
    height:26px;
}

.u9 {
    position:absolute;
    left:2px;
    top:2px;
    width:162px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../修改说明_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:527px;
    top:0px;
    width:130px;
    height:20px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:26px;
}

.u11 {
    position:absolute;
    left:2px;
    top:2px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../修改说明_files/u4_normal.png');
}

.u12_container {
    position:absolute;
    left:657px;
    top:0px;
    width:100px;
    height:20px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u13 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../修改说明_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:0px;
    top:20px;
    width:100px;
    height:36px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:42px;
}

.u15 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../修改说明_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:100px;
    top:20px;
    width:261px;
    height:36px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:267px;
    height:42px;
}

.u17 {
    position:absolute;
    left:2px;
    top:2px;
    width:257px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../修改说明_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:361px;
    top:20px;
    width:166px;
    height:36px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:172px;
    height:42px;
}

.u19 {
    position:absolute;
    left:2px;
    top:2px;
    width:162px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../修改说明_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:527px;
    top:20px;
    width:130px;
    height:36px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:42px;
}

.u21 {
    position:absolute;
    left:2px;
    top:2px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../修改说明_files/u14_normal.png');
}

.u22_container {
    position:absolute;
    left:657px;
    top:20px;
    width:100px;
    height:36px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:42px;
}

.u23 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../修改说明_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:0px;
    top:56px;
    width:100px;
    height:52px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:58px;
}

.u25 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../修改说明_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:100px;
    top:56px;
    width:261px;
    height:52px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:267px;
    height:58px;
}

.u27 {
    position:absolute;
    left:2px;
    top:2px;
    width:257px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../修改说明_files/u28_normal.png');
}

.u28_container {
    position:absolute;
    left:361px;
    top:56px;
    width:166px;
    height:52px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:172px;
    height:58px;
}

.u29 {
    position:absolute;
    left:2px;
    top:2px;
    width:162px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../修改说明_files/u30_normal.png');
}

.u30_container {
    position:absolute;
    left:527px;
    top:56px;
    width:130px;
    height:52px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:58px;
}

.u31 {
    position:absolute;
    left:2px;
    top:2px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../修改说明_files/u24_normal.png');
}

.u32_container {
    position:absolute;
    left:657px;
    top:56px;
    width:100px;
    height:52px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:58px;
}

.u33 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../修改说明_files/u14_normal.png');
}

.u34_container {
    position:absolute;
    left:0px;
    top:108px;
    width:100px;
    height:36px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:42px;
}

.u35 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../修改说明_files/u16_normal.png');
}

.u36_container {
    position:absolute;
    left:100px;
    top:108px;
    width:261px;
    height:36px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:267px;
    height:42px;
}

.u37 {
    position:absolute;
    left:2px;
    top:2px;
    width:257px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../修改说明_files/u18_normal.png');
}

.u38_container {
    position:absolute;
    left:361px;
    top:108px;
    width:166px;
    height:36px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:172px;
    height:42px;
}

.u39 {
    position:absolute;
    left:2px;
    top:2px;
    width:162px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../修改说明_files/u20_normal.png');
}

.u40_container {
    position:absolute;
    left:527px;
    top:108px;
    width:130px;
    height:36px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:42px;
}

.u41 {
    position:absolute;
    left:2px;
    top:2px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../修改说明_files/u14_normal.png');
}

.u42_container {
    position:absolute;
    left:657px;
    top:108px;
    width:100px;
    height:36px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:42px;
}

.u43 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../修改说明_files/u14_normal.png');
}

.u44_container {
    position:absolute;
    left:0px;
    top:144px;
    width:100px;
    height:36px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:42px;
}

.u45 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../修改说明_files/u16_normal.png');
}

.u46_container {
    position:absolute;
    left:100px;
    top:144px;
    width:261px;
    height:36px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:267px;
    height:42px;
}

.u47 {
    position:absolute;
    left:2px;
    top:2px;
    width:257px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../修改说明_files/u18_normal.png');
}

.u48_container {
    position:absolute;
    left:361px;
    top:144px;
    width:166px;
    height:36px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:172px;
    height:42px;
}

.u49 {
    position:absolute;
    left:2px;
    top:2px;
    width:162px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../修改说明_files/u20_normal.png');
}

.u50_container {
    position:absolute;
    left:527px;
    top:144px;
    width:130px;
    height:36px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:42px;
}

.u51 {
    position:absolute;
    left:2px;
    top:2px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../修改说明_files/u14_normal.png');
}

.u52_container {
    position:absolute;
    left:657px;
    top:144px;
    width:100px;
    height:36px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:42px;
}

.u53 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_normal {
    background-image: url('../修改说明_files/u54_normal.png');
}

.u54_container {
    position:absolute;
    left:0px;
    top:180px;
    width:100px;
    height:148px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:154px;
}

.u55 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_normal {
    background-image: url('../修改说明_files/u56_normal.png');
}

.u56_container {
    position:absolute;
    left:100px;
    top:180px;
    width:261px;
    height:148px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:267px;
    height:154px;
}

.u57 {
    position:absolute;
    left:2px;
    top:2px;
    width:257px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_normal {
    background-image: url('../修改说明_files/u58_normal.png');
}

.u58_container {
    position:absolute;
    left:361px;
    top:180px;
    width:166px;
    height:148px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:172px;
    height:154px;
}

.u59 {
    position:absolute;
    left:2px;
    top:2px;
    width:162px;
    height:144px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60_normal {
    background-image: url('../修改说明_files/u60_normal.png');
}

.u60_container {
    position:absolute;
    left:527px;
    top:180px;
    width:130px;
    height:148px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:154px;
}

.u61 {
    position:absolute;
    left:2px;
    top:2px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_normal {
    background-image: url('../修改说明_files/u54_normal.png');
}

.u62_container {
    position:absolute;
    left:657px;
    top:180px;
    width:100px;
    height:148px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:154px;
}

.u63 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_normal {
    background-image: url('../修改说明_files/u64_normal.png');
}

.u64_container {
    position:absolute;
    left:0px;
    top:328px;
    width:100px;
    height:20px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u65 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_normal {
    background-image: url('../修改说明_files/u66_normal.png');
}

.u66_container {
    position:absolute;
    left:100px;
    top:328px;
    width:261px;
    height:20px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:267px;
    height:26px;
}

.u67 {
    position:absolute;
    left:2px;
    top:2px;
    width:257px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_normal {
    background-image: url('../修改说明_files/u68_normal.png');
}

.u68_container {
    position:absolute;
    left:361px;
    top:328px;
    width:166px;
    height:20px;
}

#u68_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:172px;
    height:26px;
}

.u69 {
    position:absolute;
    left:2px;
    top:2px;
    width:162px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_normal {
    background-image: url('../修改说明_files/u70_normal.png');
}

.u70_container {
    position:absolute;
    left:527px;
    top:328px;
    width:130px;
    height:20px;
}

#u70_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:26px;
}

.u71 {
    position:absolute;
    left:2px;
    top:2px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_normal {
    background-image: url('../修改说明_files/u64_normal.png');
}

.u72_container {
    position:absolute;
    left:657px;
    top:328px;
    width:100px;
    height:20px;
}

#u72_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u73 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74_normal {
    background-image: url('../修改说明_files/u24_normal.png');
}

.u74_container {
    position:absolute;
    left:0px;
    top:348px;
    width:100px;
    height:52px;
}

#u74_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:58px;
}

.u75 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76_normal {
    background-image: url('../修改说明_files/u26_normal.png');
}

.u76_container {
    position:absolute;
    left:100px;
    top:348px;
    width:261px;
    height:52px;
}

#u76_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:267px;
    height:58px;
}

.u77 {
    position:absolute;
    left:2px;
    top:2px;
    width:257px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_normal {
    background-image: url('../修改说明_files/u28_normal.png');
}

.u78_container {
    position:absolute;
    left:361px;
    top:348px;
    width:166px;
    height:52px;
}

#u78_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:172px;
    height:58px;
}

.u79 {
    position:absolute;
    left:2px;
    top:2px;
    width:162px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80_normal {
    background-image: url('../修改说明_files/u30_normal.png');
}

.u80_container {
    position:absolute;
    left:527px;
    top:348px;
    width:130px;
    height:52px;
}

#u80_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:58px;
}

.u81 {
    position:absolute;
    left:2px;
    top:2px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_normal {
    background-image: url('../修改说明_files/u24_normal.png');
}

.u82_container {
    position:absolute;
    left:657px;
    top:348px;
    width:100px;
    height:52px;
}

#u82_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:58px;
}

.u83 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84_normal {
    background-image: url('../修改说明_files/u24_normal.png');
}

.u84_container {
    position:absolute;
    left:0px;
    top:400px;
    width:100px;
    height:52px;
}

#u84_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:58px;
}

.u85 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86_normal {
    background-image: url('../修改说明_files/u26_normal.png');
}

.u86_container {
    position:absolute;
    left:100px;
    top:400px;
    width:261px;
    height:52px;
}

#u86_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:267px;
    height:58px;
}

.u87 {
    position:absolute;
    left:2px;
    top:2px;
    width:257px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88_normal {
    background-image: url('../修改说明_files/u28_normal.png');
}

.u88_container {
    position:absolute;
    left:361px;
    top:400px;
    width:166px;
    height:52px;
}

#u88_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:172px;
    height:58px;
}

.u89 {
    position:absolute;
    left:2px;
    top:2px;
    width:162px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90_normal {
    background-image: url('../修改说明_files/u30_normal.png');
}

.u90_container {
    position:absolute;
    left:527px;
    top:400px;
    width:130px;
    height:52px;
}

#u90_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:58px;
}

.u91 {
    position:absolute;
    left:2px;
    top:2px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92_normal {
    background-image: url('../修改说明_files/u24_normal.png');
}

.u92_container {
    position:absolute;
    left:657px;
    top:400px;
    width:100px;
    height:52px;
}

#u92_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:58px;
}

.u93 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94_normal {
    background-image: url('../修改说明_files/u24_normal.png');
}

.u94_container {
    position:absolute;
    left:0px;
    top:452px;
    width:100px;
    height:52px;
}

#u94_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:58px;
}

.u95 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96_normal {
    background-image: url('../修改说明_files/u26_normal.png');
}

.u96_container {
    position:absolute;
    left:100px;
    top:452px;
    width:261px;
    height:52px;
}

#u96_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:267px;
    height:58px;
}

.u97 {
    position:absolute;
    left:2px;
    top:2px;
    width:257px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98_normal {
    background-image: url('../修改说明_files/u28_normal.png');
}

.u98_container {
    position:absolute;
    left:361px;
    top:452px;
    width:166px;
    height:52px;
}

#u98_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:172px;
    height:58px;
}

.u99 {
    position:absolute;
    left:2px;
    top:2px;
    width:162px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100_normal {
    background-image: url('../修改说明_files/u30_normal.png');
}

.u100_container {
    position:absolute;
    left:527px;
    top:452px;
    width:130px;
    height:52px;
}

#u100_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:58px;
}

.u101 {
    position:absolute;
    left:2px;
    top:2px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102_normal {
    background-image: url('../修改说明_files/u24_normal.png');
}

.u102_container {
    position:absolute;
    left:657px;
    top:452px;
    width:100px;
    height:52px;
}

#u102_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:58px;
}

.u103 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104_normal {
    background-image: url('../修改说明_files/u104_normal.png');
}

.u104_container {
    position:absolute;
    left:0px;
    top:504px;
    width:100px;
    height:130px;
}

#u104_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:136px;
}

.u105 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106_normal {
    background-image: url('../修改说明_files/u106_normal.png');
}

.u106_container {
    position:absolute;
    left:100px;
    top:504px;
    width:261px;
    height:130px;
}

#u106_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:267px;
    height:136px;
}

.u107 {
    position:absolute;
    left:2px;
    top:2px;
    width:257px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108_normal {
    background-image: url('../修改说明_files/u108_normal.png');
}

.u108_container {
    position:absolute;
    left:361px;
    top:504px;
    width:166px;
    height:130px;
}

#u108_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:172px;
    height:136px;
}

.u109 {
    position:absolute;
    left:2px;
    top:2px;
    width:162px;
    height:96px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110_normal {
    background-image: url('../修改说明_files/u110_normal.png');
}

.u110_container {
    position:absolute;
    left:527px;
    top:504px;
    width:130px;
    height:130px;
}

#u110_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:136px;
}

.u111 {
    position:absolute;
    left:2px;
    top:2px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112_normal {
    background-image: url('../修改说明_files/u104_normal.png');
}

.u112_container {
    position:absolute;
    left:657px;
    top:504px;
    width:100px;
    height:130px;
}

#u112_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:136px;
}

.u113 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114_normal {
    background-image: url('../修改说明_files/u14_normal.png');
}

.u114_container {
    position:absolute;
    left:0px;
    top:634px;
    width:100px;
    height:36px;
}

#u114_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:42px;
}

.u115 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116_normal {
    background-image: url('../修改说明_files/u16_normal.png');
}

.u116_container {
    position:absolute;
    left:100px;
    top:634px;
    width:261px;
    height:36px;
}

#u116_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:267px;
    height:42px;
}

.u117 {
    position:absolute;
    left:2px;
    top:2px;
    width:257px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118_normal {
    background-image: url('../修改说明_files/u18_normal.png');
}

.u118_container {
    position:absolute;
    left:361px;
    top:634px;
    width:166px;
    height:36px;
}

#u118_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:172px;
    height:42px;
}

.u119 {
    position:absolute;
    left:2px;
    top:2px;
    width:162px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120_normal {
    background-image: url('../修改说明_files/u20_normal.png');
}

.u120_container {
    position:absolute;
    left:527px;
    top:634px;
    width:130px;
    height:36px;
}

#u120_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:42px;
}

.u121 {
    position:absolute;
    left:2px;
    top:2px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122_normal {
    background-image: url('../修改说明_files/u14_normal.png');
}

.u122_container {
    position:absolute;
    left:657px;
    top:634px;
    width:100px;
    height:36px;
}

#u122_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:42px;
}

.u123 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124_normal {
    background-image: url('../修改说明_files/u14_normal.png');
}

.u124_container {
    position:absolute;
    left:0px;
    top:670px;
    width:100px;
    height:36px;
}

#u124_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:42px;
}

.u125 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126_normal {
    background-image: url('../修改说明_files/u16_normal.png');
}

.u126_container {
    position:absolute;
    left:100px;
    top:670px;
    width:261px;
    height:36px;
}

#u126_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:267px;
    height:42px;
}

.u127 {
    position:absolute;
    left:2px;
    top:2px;
    width:257px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128_normal {
    background-image: url('../修改说明_files/u18_normal.png');
}

.u128_container {
    position:absolute;
    left:361px;
    top:670px;
    width:166px;
    height:36px;
}

#u128_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:172px;
    height:42px;
}

.u129 {
    position:absolute;
    left:2px;
    top:2px;
    width:162px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130_normal {
    background-image: url('../修改说明_files/u20_normal.png');
}

.u130_container {
    position:absolute;
    left:527px;
    top:670px;
    width:130px;
    height:36px;
}

#u130_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:42px;
}

.u131 {
    position:absolute;
    left:2px;
    top:2px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132_normal {
    background-image: url('../修改说明_files/u14_normal.png');
}

.u132_container {
    position:absolute;
    left:657px;
    top:670px;
    width:100px;
    height:36px;
}

#u132_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:42px;
}

.u133 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134_normal {
    background-image: url('../修改说明_files/u14_normal.png');
}

.u134_container {
    position:absolute;
    left:0px;
    top:706px;
    width:100px;
    height:36px;
}

#u134_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:42px;
}

.u135 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136_normal {
    background-image: url('../修改说明_files/u16_normal.png');
}

.u136_container {
    position:absolute;
    left:100px;
    top:706px;
    width:261px;
    height:36px;
}

#u136_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:267px;
    height:42px;
}

.u137 {
    position:absolute;
    left:2px;
    top:2px;
    width:257px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u138_normal {
    background-image: url('../修改说明_files/u18_normal.png');
}

.u138_container {
    position:absolute;
    left:361px;
    top:706px;
    width:166px;
    height:36px;
}

#u138_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:172px;
    height:42px;
}

.u139 {
    position:absolute;
    left:2px;
    top:2px;
    width:162px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u140_normal {
    background-image: url('../修改说明_files/u20_normal.png');
}

.u140_container {
    position:absolute;
    left:527px;
    top:706px;
    width:130px;
    height:36px;
}

#u140_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:42px;
}

.u141 {
    position:absolute;
    left:2px;
    top:2px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142_normal {
    background-image: url('../修改说明_files/u14_normal.png');
}

.u142_container {
    position:absolute;
    left:657px;
    top:706px;
    width:100px;
    height:36px;
}

#u142_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:42px;
}

.u143 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144_normal {
    background-image: url('../修改说明_files/u14_normal.png');
}

.u144_container {
    position:absolute;
    left:0px;
    top:742px;
    width:100px;
    height:36px;
}

#u144_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:42px;
}

.u145 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u146_normal {
    background-image: url('../修改说明_files/u16_normal.png');
}

.u146_container {
    position:absolute;
    left:100px;
    top:742px;
    width:261px;
    height:36px;
}

#u146_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:267px;
    height:42px;
}

.u147 {
    position:absolute;
    left:2px;
    top:2px;
    width:257px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u148_normal {
    background-image: url('../修改说明_files/u18_normal.png');
}

.u148_container {
    position:absolute;
    left:361px;
    top:742px;
    width:166px;
    height:36px;
}

#u148_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:172px;
    height:42px;
}

.u149 {
    position:absolute;
    left:2px;
    top:2px;
    width:162px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u150_normal {
    background-image: url('../修改说明_files/u20_normal.png');
}

.u150_container {
    position:absolute;
    left:527px;
    top:742px;
    width:130px;
    height:36px;
}

#u150_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:42px;
}

.u151 {
    position:absolute;
    left:2px;
    top:2px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u152_normal {
    background-image: url('../修改说明_files/u14_normal.png');
}

.u152_container {
    position:absolute;
    left:657px;
    top:742px;
    width:100px;
    height:36px;
}

#u152_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:42px;
}

.u153 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u154_normal {
    background-image: url('../修改说明_files/u154_normal.png');
}

.u154_container {
    position:absolute;
    left:58px;
    top:1595px;
    width:788px;
    height:951px;
}

#u154_img {
    position:absolute;
    left:0px;
    top:0px;
    width:788px;
    height:951px;
}

.u155 {
    position:absolute;
    left:2px;
    top:468px;
    width:784px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u156_normal {
    background-image: url('../修改说明_files/u0_normal.png');
}

.u156_container {
    position:absolute;
    left:58px;
    top:1553px;
    width:1974px;
    height:32px;
}

#u156_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1980px;
    height:38px;
}

.u157 {
    position:absolute;
    left:2px;
    top:8px;
    width:1970px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u158 {
    position:absolute;
    left:87px;
    top:1561px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u159 {
    position:absolute;
    left:991px;
    top:1561px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u160_normal {
    background-image: url('../修改说明_files/u0_normal.png');
}

.u160_container {
    position:absolute;
    left:58px;
    top:986px;
    width:1974px;
    height:32px;
}

#u160_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1980px;
    height:38px;
}

.u161 {
    position:absolute;
    left:2px;
    top:8px;
    width:1970px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u162 {
    position:absolute;
    left:87px;
    top:994px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u163_normal {
    background-image: url('../修改说明_files/u163_normal.png');
}

.u163_container {
    position:absolute;
    left:99px;
    top:1051px;
    width:769px;
    height:277px;
}

#u163_img {
    position:absolute;
    left:0px;
    top:0px;
    width:769px;
    height:277px;
}

.u164 {
    position:absolute;
    left:2px;
    top:130px;
    width:765px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u165_normal {
    background-image: url('../修改说明_files/u165_normal.png');
}

.u165_container {
    position:absolute;
    left:991px;
    top:1609px;
    width:929px;
    height:684px;
}

#u165_img {
    position:absolute;
    left:0px;
    top:0px;
    width:929px;
    height:684px;
}

.u166 {
    position:absolute;
    left:2px;
    top:334px;
    width:925px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u167_normal {
    background-image: url('../修改说明_files/u167_normal.png');
}

.u167_container {
    position:absolute;
    left:994px;
    top:2285px;
    width:924px;
    height:324px;
}

#u167_img {
    position:absolute;
    left:0px;
    top:0px;
    width:924px;
    height:324px;
}

.u168 {
    position:absolute;
    left:2px;
    top:154px;
    width:920px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

