body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../新母版_1_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:-14px;
    width:1000px;
    height:42px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1006px;
    height:48px;
}

.u1 {
    position:absolute;
    left:2px;
    top:13px;
    width:996px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../新母版_1_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:31px;
    width:150px;
    height:795px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:801px;
}

.u3 {
    position:absolute;
    left:2px;
    top:390px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../新母版_1_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:150px;
    top:31px;
    width:850px;
    height:795px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:856px;
    height:801px;
}

.u5 {
    position:absolute;
    left:2px;
    top:390px;
    width:846px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u6 {
    position:absolute;
    left:0px;
    top:471px;
    width:151px;
    height:166px;
    overflow:hidden;
}

#pd0u6 {
    position:absolute;
    left:0px;
    top:0px;
    width:151px;
    height:166px;
    
}

.u7_normal {
    background-image: url('../新母版_1_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:0px;
    top:0px;
    width:150px;
    height:25px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:31px;
}

.u8 {
    position:absolute;
    left:2px;
    top:4px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_selected {
    background-image: url('../新母版_1_files/场馆维护_u9_selected.png');
}

.u9_normal {
    background-image: url('../新母版_1_files/场馆维护_u9_normal.png');
}

.u9_container {
    position:absolute;
    left:0px;
    top:25px;
    width:150px;
    height:20px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:26px;
}

.u10 {
    position:absolute;
    left:2px;
    top:2px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_selected {
    background-image: url('../新母版_1_files/场馆维护_u9_selected.png');
}

.u11_normal {
    background-image: url('../新母版_1_files/场馆维护_u9_normal.png');
}

.u11_container {
    position:absolute;
    left:0px;
    top:45px;
    width:150px;
    height:20px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:26px;
}

.u12 {
    position:absolute;
    left:2px;
    top:2px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_selected {
    background-image: url('../新母版_1_files/场馆维护_u9_selected.png');
}

.u13_normal {
    background-image: url('../新母版_1_files/场馆维护_u9_normal.png');
}

.u13_container {
    position:absolute;
    left:0px;
    top:65px;
    width:150px;
    height:20px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:26px;
}

.u14 {
    position:absolute;
    left:2px;
    top:2px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_selected {
    background-image: url('../新母版_1_files/场馆维护_u9_selected.png');
}

.u15_normal {
    background-image: url('../新母版_1_files/场馆维护_u9_normal.png');
}

.u15_container {
    position:absolute;
    left:0px;
    top:85px;
    width:150px;
    height:20px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:26px;
}

.u16 {
    position:absolute;
    left:2px;
    top:2px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_selected {
    background-image: url('../新母版_1_files/场馆维护_u9_selected.png');
}

.u17_normal {
    background-image: url('../新母版_1_files/场馆维护_u9_normal.png');
}

.u17_container {
    position:absolute;
    left:0px;
    top:105px;
    width:150px;
    height:20px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:26px;
}

.u18 {
    position:absolute;
    left:2px;
    top:2px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_selected {
    background-image: url('../新母版_1_files/场馆维护_u9_selected.png');
}

.u19_normal {
    background-image: url('../新母版_1_files/场馆维护_u9_normal.png');
}

.u19_container {
    position:absolute;
    left:0px;
    top:125px;
    width:150px;
    height:20px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:26px;
}

.u20 {
    position:absolute;
    left:2px;
    top:2px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_selected {
    background-image: url('../新母版_1_files/场馆维护_u9_selected.png');
}

.u21_normal {
    background-image: url('../新母版_1_files/场馆维护_u9_normal.png');
}

.u21_container {
    position:absolute;
    left:0px;
    top:145px;
    width:150px;
    height:20px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:26px;
}

.u22 {
    position:absolute;
    left:2px;
    top:2px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u23 {
    position:absolute;
    left:0px;
    top:32px;
    width:151px;
    height:67px;
    overflow:hidden;
}

#pd0u23 {
    position:absolute;
    left:0px;
    top:0px;
    width:151px;
    height:67px;
    
}

.u24_normal {
    background-image: url('../新母版_1_files/u7_normal.png');
}

.u24_container {
    position:absolute;
    left:0px;
    top:0px;
    width:150px;
    height:25px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:31px;
}

.u25 {
    position:absolute;
    left:2px;
    top:4px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_selected {
    background-image: url('../新母版_1_files/场馆维护_u9_selected.png');
}

.u26_normal {
    background-image: url('../新母版_1_files/场馆维护_u9_normal.png');
}

.u26_container {
    position:absolute;
    left:0px;
    top:25px;
    width:150px;
    height:20px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:26px;
}

.u27 {
    position:absolute;
    left:2px;
    top:2px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_selected {
    background-image: url('../新母版_1_files/场馆维护_u9_selected.png');
}

.u28_normal {
    background-image: url('../新母版_1_files/场馆维护_u9_normal.png');
}

.u28_container {
    position:absolute;
    left:0px;
    top:45px;
    width:150px;
    height:20px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:26px;
}

.u29 {
    position:absolute;
    left:2px;
    top:2px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u30 {
    position:absolute;
    left:0px;
    top:97px;
    width:151px;
    height:68px;
    overflow:hidden;
}

#pd0u30 {
    position:absolute;
    left:0px;
    top:0px;
    width:151px;
    height:68px;
    
}

.u31_normal {
    background-image: url('../新母版_1_files/u7_normal.png');
}

.u31_container {
    position:absolute;
    left:0px;
    top:0px;
    width:150px;
    height:25px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:31px;
}

.u32 {
    position:absolute;
    left:2px;
    top:4px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_selected {
    background-image: url('../新母版_1_files/场馆维护_u9_selected.png');
}

.u33_normal {
    background-image: url('../新母版_1_files/场馆维护_u9_normal.png');
}

.u33_container {
    position:absolute;
    left:0px;
    top:28px;
    width:150px;
    height:20px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:26px;
}

.u34 {
    position:absolute;
    left:2px;
    top:2px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u35 {
    position:absolute;
    left:0px;
    top:145px;
    width:151px;
    height:111px;
    overflow:hidden;
}

#pd0u35 {
    position:absolute;
    left:0px;
    top:0px;
    width:151px;
    height:111px;
    
}

.u36_normal {
    background-image: url('../新母版_1_files/u7_normal.png');
}

.u36_container {
    position:absolute;
    left:0px;
    top:0px;
    width:150px;
    height:25px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:31px;
}

.u37 {
    position:absolute;
    left:2px;
    top:4px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_selected {
    background-image: url('../新母版_1_files/场馆维护_u9_selected.png');
}

.u38_normal {
    background-image: url('../新母版_1_files/场馆维护_u9_normal.png');
}

.u38_container {
    position:absolute;
    left:0px;
    top:67px;
    width:150px;
    height:20px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:26px;
}

.u39 {
    position:absolute;
    left:2px;
    top:2px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_selected {
    background-image: url('../新母版_1_files/场馆维护_u9_selected.png');
}

.u40_normal {
    background-image: url('../新母版_1_files/场馆维护_u9_normal.png');
}

.u40_container {
    position:absolute;
    left:0px;
    top:47px;
    width:150px;
    height:20px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:26px;
}

.u41 {
    position:absolute;
    left:2px;
    top:2px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_selected {
    background-image: url('../新母版_1_files/场馆维护_u9_selected.png');
}

.u42_normal {
    background-image: url('../新母版_1_files/场馆维护_u9_normal.png');
}

.u42_container {
    position:absolute;
    left:0px;
    top:88px;
    width:150px;
    height:20px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:26px;
}

.u43 {
    position:absolute;
    left:2px;
    top:2px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_selected {
    background-image: url('../新母版_1_files/场馆维护_u9_selected.png');
}

.u44_normal {
    background-image: url('../新母版_1_files/场馆维护_u9_normal.png');
}

.u44_container {
    position:absolute;
    left:0px;
    top:25px;
    width:150px;
    height:20px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:26px;
}

.u45 {
    position:absolute;
    left:2px;
    top:2px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u46 {
    position:absolute;
    left:0px;
    top:363px;
    width:151px;
    height:110px;
    overflow:hidden;
}

#pd0u46 {
    position:absolute;
    left:0px;
    top:0px;
    width:151px;
    height:110px;
    
}

.u47_normal {
    background-image: url('../新母版_1_files/u7_normal.png');
}

.u47_container {
    position:absolute;
    left:0px;
    top:0px;
    width:150px;
    height:25px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:31px;
}

.u48 {
    position:absolute;
    left:2px;
    top:4px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_selected {
    background-image: url('../新母版_1_files/场馆维护_u9_selected.png');
}

.u49_normal {
    background-image: url('../新母版_1_files/场馆维护_u9_normal.png');
}

.u49_container {
    position:absolute;
    left:0px;
    top:25px;
    width:150px;
    height:20px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:26px;
}

.u50 {
    position:absolute;
    left:2px;
    top:2px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_selected {
    background-image: url('../新母版_1_files/场馆维护_u9_selected.png');
}

.u51_normal {
    background-image: url('../新母版_1_files/场馆维护_u9_normal.png');
}

.u51_container {
    position:absolute;
    left:0px;
    top:45px;
    width:150px;
    height:20px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:26px;
}

.u52 {
    position:absolute;
    left:2px;
    top:2px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_selected {
    background-image: url('../新母版_1_files/场馆维护_u9_selected.png');
}

.u53_normal {
    background-image: url('../新母版_1_files/场馆维护_u9_normal.png');
}

.u53_container {
    position:absolute;
    left:0px;
    top:65px;
    width:150px;
    height:20px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:26px;
}

.u54 {
    position:absolute;
    left:2px;
    top:2px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_selected {
    background-image: url('../新母版_1_files/场馆维护_u9_selected.png');
}

.u55_normal {
    background-image: url('../新母版_1_files/场馆维护_u9_normal.png');
}

.u55_container {
    position:absolute;
    left:0px;
    top:85px;
    width:150px;
    height:20px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:26px;
}

.u56 {
    position:absolute;
    left:2px;
    top:2px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u57 {
    position:absolute;
    left:0px;
    top:256px;
    width:151px;
    height:112px;
    overflow:hidden;
}

#pd0u57 {
    position:absolute;
    left:0px;
    top:0px;
    width:151px;
    height:112px;
    
}

.u58_normal {
    background-image: url('../新母版_1_files/u7_normal.png');
}

.u58_container {
    position:absolute;
    left:0px;
    top:0px;
    width:150px;
    height:25px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:31px;
}

.u59 {
    position:absolute;
    left:2px;
    top:4px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60_selected {
    background-image: url('../新母版_1_files/场馆维护_u9_selected.png');
}

.u60_normal {
    background-image: url('../新母版_1_files/场馆维护_u9_normal.png');
}

.u60_container {
    position:absolute;
    left:0px;
    top:25px;
    width:150px;
    height:20px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:26px;
}

.u61 {
    position:absolute;
    left:2px;
    top:2px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_selected {
    background-image: url('../新母版_1_files/场馆维护_u9_selected.png');
}

.u62_normal {
    background-image: url('../新母版_1_files/场馆维护_u9_normal.png');
}

.u62_container {
    position:absolute;
    left:0px;
    top:45px;
    width:150px;
    height:20px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:26px;
}

.u63 {
    position:absolute;
    left:2px;
    top:2px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_selected {
    background-image: url('../新母版_1_files/场馆维护_u9_selected.png');
}

.u64_normal {
    background-image: url('../新母版_1_files/场馆维护_u9_normal.png');
}

.u64_container {
    position:absolute;
    left:0px;
    top:65px;
    width:150px;
    height:20px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:26px;
}

.u65 {
    position:absolute;
    left:2px;
    top:2px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_selected {
    background-image: url('../新母版_1_files/场馆维护_u9_selected.png');
}

.u66_normal {
    background-image: url('../新母版_1_files/场馆维护_u9_normal.png');
}

.u66_container {
    position:absolute;
    left:0px;
    top:85px;
    width:150px;
    height:20px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:26px;
}

.u67 {
    position:absolute;
    left:2px;
    top:2px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_normal {
    background-image: url('../新母版_1_files/u68_normal.png');
}

.u68_container {
    position:absolute;
    left:3px;
    top:-5px;
    width:1372px;
    height:33px;
}

#u68_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1378px;
    height:39px;
}

.u69 {
    position:absolute;
    left:2px;
    top:8px;
    width:1368px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70 {
    position:absolute;
    left:68px;
    top:-1px;
    width:367px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:733px;
    top:3px;
    width:387px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_normal {
    background-image: url('../新母版_1_files/u72_normal.png');
}

.u72_container {
    position:absolute;
    left:9px;
    top:0px;
    width:31px;
    height:28px;
}

#u72_img {
    position:absolute;
    left:0px;
    top:0px;
    width:31px;
    height:28px;
}

.u73 {
    position:absolute;
    left:2px;
    top:6px;
    width:27px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74_normal {
    background-image: url('../poweredby_files/u29_normal.png');
}

.u74_container {
    position:absolute;
    left:0px;
    top:2073px;
    width:1900px;
    height:50px;
}

#u74_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1906px;
    height:56px;
}

.u75 {
    position:absolute;
    left:2px;
    top:17px;
    width:1896px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76 {
    position:absolute;
    left:354px;
    top:2090px;
    width:326px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../poweredby_files/u32_normal.png');
}

.u77_container {
    position:absolute;
    left:639px;
    top:2073px;
    width:167px;
    height:53px;
}

#u77_img {
    position:absolute;
    left:0px;
    top:0px;
    width:167px;
    height:53px;
}

.u78 {
    position:absolute;
    left:2px;
    top:18px;
    width:163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80 {
    position:absolute;
    left:113px;
    top:127px;
    width:27px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_normal {
    background-image: url('../办证单位维护_files/u82_normal.png');
}

.u82_container {
    position:absolute;
    left:150px;
    top:32px;
    width:850px;
    height:65px;
}

#u82_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:856px;
    height:71px;
}

.u83 {
    position:absolute;
    left:2px;
    top:24px;
    width:846px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84 {
    position:absolute;
    left:231px;
    top:51px;
    width:182px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 12px;
    color:#999999;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u84_text_sketch {
    font-family: '微软雅黑';
}

.u85_normal {
    background-image: url('../办证单位维护_files/u85_normal.png');
}

.u85_container {
    position:absolute;
    left:602px;
    top:51px;
    width:70px;
    height:25px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:31px;
}

.u86 {
    position:absolute;
    left:2px;
    top:4px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87 {
    position:absolute;
    left:804px;
    top:63px;
    width:239px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88_normal {
    background-image: url('../办证单位维护_files/u88_normal.png');
}

.u88_container {
    position:absolute;
    left:150px;
    top:97px;
    width:850px;
    height:841px;
}

#u88_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:856px;
    height:847px;
}

.u89 {
    position:absolute;
    left:2px;
    top:412px;
    width:846px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90_normal {
    background-image: url('../办证单位维护_files/u90_normal.png');
}

.u90_container {
    position:absolute;
    left:172px;
    top:160px;
    width:96px;
    height:23px;
}

#u90_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:102px;
    height:29px;
}

.u91 {
    position:absolute;
    left:2px;
    top:4px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92_normal {
    background-image: url('../办证单位维护_files/u92_normal.png');
}

.u92_container {
    position:absolute;
    left:268px;
    top:160px;
    width:300px;
    height:23px;
}

#u92_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:29px;
}

.u93 {
    position:absolute;
    left:2px;
    top:4px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94_normal {
    background-image: url('../办证单位维护_files/u94_normal.png');
}

.u94_container {
    position:absolute;
    left:752px;
    top:160px;
    width:103px;
    height:23px;
}

#u94_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:109px;
    height:29px;
}

.u95 {
    position:absolute;
    left:2px;
    top:4px;
    width:99px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96_normal {
    background-image: url('../办证单位维护_files/u96_normal.png');
}

.u96_container {
    position:absolute;
    left:855px;
    top:160px;
    width:111px;
    height:23px;
}

#u96_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:117px;
    height:29px;
}

.u97 {
    position:absolute;
    left:2px;
    top:4px;
    width:107px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98_normal {
    background-image: url('../办证单位维护_files/u98_normal.png');
}

.u98_container {
    position:absolute;
    left:966px;
    top:160px;
    width:92px;
    height:23px;
}

#u98_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:98px;
    height:29px;
}

.u99 {
    position:absolute;
    left:2px;
    top:4px;
    width:88px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100_normal {
    background-image: url('../办证单位维护_files/u90_normal.png');
}

.u100_container {
    position:absolute;
    left:172px;
    top:183px;
    width:96px;
    height:23px;
}

#u100_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:102px;
    height:29px;
}

.u101 {
    position:absolute;
    left:2px;
    top:4px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102_normal {
    background-image: url('../办证单位维护_files/u92_normal.png');
}

.u102_container {
    position:absolute;
    left:268px;
    top:183px;
    width:300px;
    height:23px;
}

#u102_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:29px;
}

.u103 {
    position:absolute;
    left:2px;
    top:4px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104_normal {
    background-image: url('../办证单位维护_files/u94_normal.png');
}

.u104_container {
    position:absolute;
    left:752px;
    top:183px;
    width:103px;
    height:23px;
}

#u104_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:109px;
    height:29px;
}

.u105 {
    position:absolute;
    left:2px;
    top:4px;
    width:99px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106_normal {
    background-image: url('../办证单位维护_files/u96_normal.png');
}

.u106_container {
    position:absolute;
    left:855px;
    top:183px;
    width:111px;
    height:23px;
}

#u106_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:117px;
    height:29px;
}

.u107 {
    position:absolute;
    left:2px;
    top:4px;
    width:107px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108_normal {
    background-image: url('../办证单位维护_files/u98_normal.png');
}

.u108_container {
    position:absolute;
    left:966px;
    top:183px;
    width:92px;
    height:23px;
}

#u108_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:98px;
    height:29px;
}

.u109 {
    position:absolute;
    left:2px;
    top:4px;
    width:88px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110 {
    position:absolute;
    left:182px;
    top:186px;
    width:38px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111 {
    position:absolute;
    left:224px;
    top:186px;
    width:38px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112_normal {
    background-image: url('../办证单位维护_files/u92_normal.png');
}

.u112_container {
    position:absolute;
    left:268px;
    top:206px;
    width:300px;
    height:23px;
}

#u112_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:29px;
}

.u113 {
    position:absolute;
    left:2px;
    top:4px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114_normal {
    background-image: url('../办证单位维护_files/u94_normal.png');
}

.u114_container {
    position:absolute;
    left:752px;
    top:206px;
    width:103px;
    height:23px;
}

#u114_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:109px;
    height:29px;
}

.u115 {
    position:absolute;
    left:2px;
    top:4px;
    width:99px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116_normal {
    background-image: url('../办证单位维护_files/u96_normal.png');
}

.u116_container {
    position:absolute;
    left:855px;
    top:206px;
    width:111px;
    height:23px;
}

#u116_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:117px;
    height:29px;
}

.u117 {
    position:absolute;
    left:2px;
    top:4px;
    width:107px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118_normal {
    background-image: url('../办证单位维护_files/u98_normal.png');
}

.u118_container {
    position:absolute;
    left:966px;
    top:206px;
    width:92px;
    height:23px;
}

#u118_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:98px;
    height:29px;
}

.u119 {
    position:absolute;
    left:2px;
    top:4px;
    width:88px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120_normal {
    background-image: url('../办证单位维护_files/u90_normal.png');
}

.u120_container {
    position:absolute;
    left:172px;
    top:206px;
    width:96px;
    height:23px;
}

#u120_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:102px;
    height:29px;
}

.u121 {
    position:absolute;
    left:2px;
    top:4px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122 {
    position:absolute;
    left:182px;
    top:209px;
    width:38px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123 {
    position:absolute;
    left:224px;
    top:209px;
    width:38px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u124 {
    position:absolute;
    left:224px;
    top:272px;
    width:475px;
    height:373px;
    overflow:hidden;
}

#pd0u124 {
    position:absolute;
    left:0px;
    top:0px;
    width:475px;
    height:373px;
    
}

.u125_normal {
    background-image: url('../办证单位维护_files/u125_normal.png');
}

.u125_container {
    position:absolute;
    left:8px;
    top:25px;
    width:401px;
    height:309px;
}

#u125_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:407px;
    height:315px;
}

.u126 {
    position:absolute;
    left:2px;
    top:146px;
    width:397px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127_normal {
    background-image: url('../办证单位维护_files/单位新增编辑面板caption_u127_normal.png');
}

.u127_container {
    position:absolute;
    left:8px;
    top:0px;
    width:401px;
    height:25px;
}

#u127_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:407px;
    height:31px;
}

.u128 {
    position:absolute;
    left:2px;
    top:4px;
    width:397px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129_normal {
    background-image: url('../办证单位维护_files/image_u129_normal.png');
}

.u129_container {
    position:absolute;
    left:387px;
    top:8px;
    width:10px;
    height:10px;
}

#u129_img {
    position:absolute;
    left:0px;
    top:0px;
    width:10px;
    height:10px;
}

.u130 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131 {
    position:absolute;
    left:32px;
    top:42px;
    width:77px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132 {
    position:absolute;
    left:32px;
    top:147px;
    width:77px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133 {
    position:absolute;
    left:32px;
    top:77px;
    width:77px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134 {
    position:absolute;
    left:32px;
    top:192px;
    width:77px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135 {
    position:absolute;
    left:119px;
    top:38px;
    width:174px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u135_text_sketch {
    font-family: '微软雅黑';
}

.u137 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u140 {
    position:absolute;
    left:119px;
    top:189px;
    width:73px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u140_text_sketch {
    font-family: '微软雅黑';
}

.u141 {
    position:absolute;
    left:296px;
    top:43px;
    width:89px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142_normal {
    background-image: url('../办证单位维护_files/u142_normal.png');
}

.u142_container {
    position:absolute;
    left:127px;
    top:259px;
    width:75px;
    height:25px;
}

#u142_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:31px;
}

.u143 {
    position:absolute;
    left:2px;
    top:4px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144_normal {
    background-image: url('../办证单位维护_files/u142_normal.png');
}

.u144_container {
    position:absolute;
    left:218px;
    top:259px;
    width:75px;
    height:25px;
}

#u144_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:31px;
}

.u145 {
    position:absolute;
    left:2px;
    top:4px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u146_normal {
    background-image: url('../办证单位维护_files/u146_normal.png');
}

.u146_container {
    position:absolute;
    left:14px;
    top:65px;
    width:273px;
    height:33px;
}

#u146_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:279px;
    height:39px;
}

.u147 {
    position:absolute;
    left:2px;
    top:8px;
    width:269px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u148_end {
    background-image: url('../办证单位维护_files/u148_end.png');
}

.u148_end {
    position:absolute;
    left:21px;
    top:-5px;
    width:14px;
    height:20px;
}

.u148_line {
    background-image: url('../办证单位维护_files/u148_line.png');
}

.u148_line {
    position:absolute;
    left:0px;
    top:2px;
    width:30px;
    height:7px;
}

.u148 {
    position:absolute;
    left:287px;
    top:82px;
    width:30px;
    height:10px;
    
}

.u149 {
    position:absolute;
    left:327px;
    top:79px;
    width:239px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u150_normal {
    background-image: url('../办证单位维护_files/u150_normal.png');
}

.u150_container {
    position:absolute;
    left:14px;
    top:72px;
    width:22px;
    height:22px;
}

#u150_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:28px;
    height:28px;
}

.u151 {
    position:absolute;
    left:2px;
    top:3px;
    width:18px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u152 {
    position:absolute;
    left:32px;
    top:110px;
    width:77px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u153 {
    position:absolute;
    left:119px;
    top:108px;
    width:73px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u153_text_sketch {
    font-family: '微软雅黑';
}

.u154 {
    position:absolute;
    left:32px;
    top:227px;
    width:77px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u155 {
    position:absolute;
    left:119px;
    top:224px;
    width:83px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u155_text_sketch {
    font-family: '微软雅黑';
}

.u156 {
    position:absolute;
    left:327px;
    top:57px;
    width:91px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u157_normal {
    background-image: url('../办证单位维护_files/u157_normal.png');
}

.u157_container {
    position:absolute;
    left:296px;
    top:25px;
    width:113px;
    height:33px;
}

#u157_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:119px;
    height:39px;
}

.u158 {
    position:absolute;
    left:2px;
    top:8px;
    width:109px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u159_normal {
    background-image: url('../办证单位维护_files/u150_normal.png');
}

.u159_container {
    position:absolute;
    left:381px;
    top:28px;
    width:22px;
    height:22px;
}

#u159_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:28px;
    height:28px;
}

.u160 {
    position:absolute;
    left:2px;
    top:3px;
    width:18px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u161 {
    position:absolute;
    left:544px;
    top:192px;
    width:185px;
    height:128px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u162 {
    position:absolute;
    left:119px;
    top:140px;
    width:95px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u162_text_sketch {
    font-family: '微软雅黑';
}

.u163 {
    position:absolute;
    left:237px;
    top:140px;
    width:95px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u163_text_sketch {
    font-family: '微软雅黑';
}

.u164_normal {
    background-image: url('../办证单位维护_files/u150_normal.png');
}

.u164_container {
    position:absolute;
    left:150px;
    top:109px;
    width:22px;
    height:22px;
}

#u164_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:28px;
    height:28px;
}

.u165 {
    position:absolute;
    left:2px;
    top:3px;
    width:18px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u166_normal {
    background-image: url('../办证单位维护_files/u166_normal.png');
}

.u166_container {
    position:absolute;
    left:150px;
    top:109px;
    width:146px;
    height:40px;
}

#u166_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:152px;
    height:46px;
}

.u167 {
    position:absolute;
    left:2px;
    top:12px;
    width:142px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u168_end {
    background-image: url('../办证单位维护_files/u168_end.png');
}

.u168_end {
    position:absolute;
    left:194px;
    top:-5px;
    width:14px;
    height:20px;
}

.u168_line {
    background-image: url('../办证单位维护_files/u168_line.png');
}

.u168_line {
    position:absolute;
    left:0px;
    top:2px;
    width:203px;
    height:7px;
}

.u168 {
    position:absolute;
    left:300px;
    top:119px;
    width:203px;
    height:10px;
    
}

.u169 {
    position:absolute;
    left:513px;
    top:115px;
    width:550px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u170 {
    position:absolute;
    left:993px;
    top:286px;
    width:320px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u171_normal {
    background-image: url('../办证单位维护_files/u150_normal.png');
}

.u171_container {
    position:absolute;
    left:1061px;
    top:184px;
    width:22px;
    height:22px;
}

#u171_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:28px;
    height:28px;
}

.u172 {
    position:absolute;
    left:2px;
    top:3px;
    width:18px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u173_end {
    background-image: url('../办证单位维护_files/u173_end.png');
}

.u173_end {
    position:absolute;
    left:71px;
    top:-5px;
    width:14px;
    height:20px;
}

.u173_line {
    background-image: url('../办证单位维护_files/u173_line.png');
}

.u173_line {
    position:absolute;
    left:0px;
    top:2px;
    width:80px;
    height:7px;
}

.u173 {
    position:absolute;
    left:1034px;
    top:241px;
    width:80px;
    height:10px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);

}

.u174_normal {
    background-image: url('../办证单位维护_files/u174_normal.png');
}

.u174_container {
    position:absolute;
    left:568px;
    top:160px;
    width:70px;
    height:23px;
}

#u174_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:29px;
}

.u175 {
    position:absolute;
    left:2px;
    top:4px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u176_normal {
    background-image: url('../办证单位维护_files/u174_normal.png');
}

.u176_container {
    position:absolute;
    left:568px;
    top:183px;
    width:70px;
    height:23px;
}

#u176_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:29px;
}

.u177 {
    position:absolute;
    left:2px;
    top:4px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u178_normal {
    background-image: url('../办证单位维护_files/u174_normal.png');
}

.u178_container {
    position:absolute;
    left:568px;
    top:206px;
    width:70px;
    height:23px;
}

#u178_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:29px;
}

.u179 {
    position:absolute;
    left:2px;
    top:4px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u180_normal {
    background-image: url('../办证单位维护_files/u85_normal.png');
}

.u180_container {
    position:absolute;
    left:172px;
    top:117px;
    width:70px;
    height:25px;
}

#u180_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:31px;
}

.u181 {
    position:absolute;
    left:2px;
    top:4px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u182 {
    position:absolute;
    left:160px;
    top:56px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u183_normal {
    background-image: url('../办证单位维护_files/u183_normal.png');
}

.u183_container {
    position:absolute;
    left:638px;
    top:160px;
    width:113px;
    height:23px;
}

#u183_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:119px;
    height:29px;
}

.u184 {
    position:absolute;
    left:2px;
    top:4px;
    width:109px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u185_normal {
    background-image: url('../办证单位维护_files/u183_normal.png');
}

.u185_container {
    position:absolute;
    left:638px;
    top:183px;
    width:113px;
    height:23px;
}

#u185_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:119px;
    height:29px;
}

.u186 {
    position:absolute;
    left:2px;
    top:4px;
    width:109px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u187_normal {
    background-image: url('../办证单位维护_files/u183_normal.png');
}

.u187_container {
    position:absolute;
    left:638px;
    top:206px;
    width:113px;
    height:23px;
}

#u187_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:119px;
    height:29px;
}

.u188 {
    position:absolute;
    left:2px;
    top:4px;
    width:109px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u189_end {
    background-image: url('../办证单位维护_files/u189_end.png');
}

.u189_end {
    position:absolute;
    left:107px;
    top:-5px;
    width:14px;
    height:20px;
}

.u189_line {
    background-image: url('../办证单位维护_files/u189_line.png');
}

.u189_line {
    position:absolute;
    left:0px;
    top:2px;
    width:116px;
    height:7px;
}

.u189 {
    position:absolute;
    left:200px;
    top:202px;
    width:116px;
    height:10px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);

}

.u190_normal {
    background-image: url('../办证单位维护_files/u150_normal.png');
}

.u190_container {
    position:absolute;
    left:855px;
    top:140px;
    width:22px;
    height:22px;
}

#u190_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:28px;
    height:28px;
}

.u191 {
    position:absolute;
    left:2px;
    top:3px;
    width:18px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u192_normal {
    background-image: url('../办证单位维护_files/u192_normal.png');
}

.u192_container {
    position:absolute;
    left:855px;
    top:140px;
    width:112px;
    height:95px;
}

#u192_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:118px;
    height:101px;
}

.u193 {
    position:absolute;
    left:2px;
    top:40px;
    width:108px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u194 {
    position:absolute;
    left:861px;
    top:103px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u195_end {
    background-image: url('../办证单位维护_files/u195_end.png');
}

.u195_end {
    position:absolute;
    left:11px;
    top:-5px;
    width:14px;
    height:20px;
}

.u195_line {
    background-image: url('../办证单位维护_files/u195_line.png');
}

.u195_line {
    position:absolute;
    left:0px;
    top:2px;
    width:20px;
    height:7px;
}

.u195 {
    position:absolute;
    left:871px;
    top:126px;
    width:20px;
    height:10px;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);

}

.u197 {
    position:absolute;
    left:16px;
    top:0px;
    width:99px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

